Final Deliverables/Code.json
[{"id":"3f5f4d5d449854ae","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"34ae37a8d5d31b37","type":"inject","z":"3f5f4d5d449854ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":170,"y":140,"wires":[["db2e317a3a7fa34b"]]},{"id":"db2e317a3a7fa34b","type":"function","z":"3f5f4d5d449854ae","name":"","func":"var d=new Date()\nvar utc=d.getTime()+(d.getTimezoneOffset()*60000);\nvar offset = 5.5;\nnewDate = new Date(utc+(3600000*offset));\nvar n =newDate.toISOString()\nvar date = n.slice(0,10)\nvar time=n.slice(11,16)\nglobal.set(\"time\",time)\nmsg.payload=date+\" \"+time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":220,"wires":[["6656391b5f5e7b9e","1aefa826cf3c3c9e"]]},{"id":"a97af37101d92342","type":"function","z":"3f5f4d5d449854ae","name":"","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":180,"wires":[["c8e3a2d93c7a7149","e49d24da6c40259e","2b8119da25c7f66b"]]},{"id":"247a08d273555715","type":"switch","z":"3f5f4d5d449854ae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":240,"wires":[[],["a97af37101d92342"]]},{"id":"c8e3a2d93c7a7149","type":"debug","z":"3f5f4d5d449854ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":280,"wires":[]},{"id":"cd392ddf83d6d15d","type":"function","z":"3f5f4d5d449854ae","name":"","func":"var d=msg.payload.date;\nvar t=msg.payload.time;\n\nvar date = d.slice(0,10)\nvar time=t.slice(10,25)\nvar hit=new Date(date+time)\nhit.setDate(hit.getDate() + 1);\nvar utc=hit.getTime()+(hit.getTimezoneOffset()*60000);\nvar offset=5.5\nnewDate = new Date(utc+(3600000*offset));\nvar n =newDate.toISOString()\nvar da = n.slice(0,10)\nvar ti=n.slice(11,16)\nmsg.payload={\n    \"_id\": da+\" \"+ti,\n    \"name\": msg.payload.name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":360,"wires":[["d38ae8c9c3e18ff5","038a62ccae8ff544"]]},{"id":"d38ae8c9c3e18ff5","type":"function","z":"3f5f4d5d449854ae","name":"","func":"msg.payload={\n    \"date\":\"\",\n    \"time\":\"\",\n    \"name\":\"\",\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":400,"wires":[["8b134889e0e46a17"]]},{"id":"8b134889e0e46a17","type":"delay","z":"3f5f4d5d449854ae","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":300,"y":480,"wires":[["6e90518094dc23ad"]]},{"id":"775a8b8f258cbbef","type":"debug","z":"3f5f4d5d449854ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":480,"wires":[]},{"id":"2b8119da25c7f66b","type":"function","z":"3f5f4d5d449854ae","name":"","func":"var st={\"please take \":msg.payload}\nmsg.payload=JSON.stringify(st)\nmsg.payload=msg.payload.replace(':','');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":200,"wires":[["3f23727520be8a0d"]]},{"id":"3f23727520be8a0d","type":"watson-text-to-speech","z":"3f5f4d5d449854ae","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaExpressive","voicehidden":"en-US_LisaExpressive","format":"audio/wav","password":"","apikey":"","payload-response":false,"service-endpoint":"","x":1020,"y":200,"wires":[["63c1a1ad3e136af9"]]},{"id":"2addbba4c9fa4322","type":"http in","z":"3f5f4d5d449854ae","name":"","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":280,"y":700,"wires":[["c8a143e459a40d8e"]]},{"id":"a4346d579354a2d9","type":"http response","z":"3f5f4d5d449854ae","name":"","statusCode":"","headers":{},"x":830,"y":700,"wires":[]},{"id":"c8a143e459a40d8e","type":"template","z":"3f5f4d5d449854ae","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"_id\":\"{{payload.medtime}}\",\"name\":\"{{payload.medname}}\"}","output":"str","x":520,"y":660,"wires":[["a4346d579354a2d9","8ae1e42da7c4fa5b","b89d056c5b8749f5"]]},{"id":"8ae1e42da7c4fa5b","type":"debug","z":"3f5f4d5d449854ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":820,"wires":[]},{"id":"e49d24da6c40259e","type":"ibmiot out","z":"3f5f4d5d449854ae","authentication":"apiKey","apiKey":"cf54998f6a9046c2","outputType":"cmd","deviceId":"ESP32","deviceType":"ESP","eventCommandType":"command","format":"String","data":"1","qos":0,"name":"IBM IoT","service":"registered","x":840,"y":120,"wires":[]},{"id":"6e90518094dc23ad","type":"ui_form","z":"3f5f4d5d449854ae","name":"","label":"","group":"0e38a4eb5e18b332","order":0,"width":0,"height":0,"options":[{"label":"Medicine Name","value":"name","type":"text","required":true,"rows":null},{"label":"Time","value":"time","type":"time","required":true,"rows":null},{"label":"Date","value":"date","type":"date","required":true,"rows":null}],"formValue":{"name":"","time":"","date":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":490,"y":500,"wires":[["cd392ddf83d6d15d","775a8b8f258cbbef"]]},{"id":"63c1a1ad3e136af9","type":"play audio","z":"3f5f4d5d449854ae","name":"","voice":"0","x":1190,"y":200,"wires":[]},{"id":"6656391b5f5e7b9e","type":"cloudantplus in","z":"3f5f4d5d449854ae","name":"","cloudant":"c379c645f2377a9a","database":"medicine","service":"_ext_","search":"_id_","design":"","index":"","x":440,"y":140,"wires":[["247a08d273555715"]]},{"id":"038a62ccae8ff544","type":"cloudantplus out","z":"3f5f4d5d449854ae","name":"","cloudant":"c379c645f2377a9a","database":"medicine","service":"_ext_","payonly":true,"operation":"insert","x":600,"y":320,"wires":[[]]},{"id":"b89d056c5b8749f5","type":"cloudantplus out","z":"3f5f4d5d449854ae","name":"","cloudant":"c379c645f2377a9a","database":"medicine","service":"_ext_","payonly":true,"operation":"insert","x":820,"y":580,"wires":[[]]},{"id":"1aefa826cf3c3c9e","type":"debug","z":"3f5f4d5d449854ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":260,"wires":[]},{"id":"cf54998f6a9046c2","type":"ibmiot","name":"device api","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"0e38a4eb5e18b332","type":"ui_group","name":"Medicine Reminder","tab":"54b5c8cb76df1392","order":1,"disp":true,"width":"6","collapse":false,"className":"medicine"},{"id":"c379c645f2377a9a","type":"cloudantplus","host":"https://apikey-v2-1l62qarbru13mnsd5ron5fo5ktpvtxbiloejfrishhei:31e8ecff1d08182fdca439db928eb134@ec586212-340b-423a-bf4a-085eefbe2a12-bluemix.cloudantnosqldb.appdomain.cloud","name":"","useapikey":false},{"id":"54b5c8cb76df1392","type":"ui_tab","name":"Add Medicine","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
